.cards {
display: flex;
justify-content: space-between;
}

.card {
  border: 1px solid rgb(230,230,230);
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
}

.card img {
  height: 200px;
  width: 300px;
  margin-top: 40px;
}

.card h2 {
  text-align: center;
}

.card p {
  text-align: center;
}
